* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}

div {
  position: absolute;
  top: calc(30%);
  left: calc(35%);
  width: 100%;
}
p {
  font-size: 5rem;
  font-weight: bold;
  font-family: "Qwigley", "cursive";
}
img {
  width: 265px;
  border-radius: 10px;
}
