* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

nav {
  display: flex;
  height: 45px;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(52, 57, 61);
}
/* Borrar despues */
nav .saludo {
  position: absolute;
  right: 45%;
  top: 50px;
  color: white;
  font-size: 3rem;
  font-family: "Qwigley", "cursive";
}
/* Hasta aqui */

nav a {
  font-size: 1.6rem;
  color: white;
  text-decoration: none;
}
.button-home {
  width: 80px;
  height: 45px;
  padding: 10px;
  background-color: khaki;
  background-image: url("../images/home_icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.menu-navigator {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-items: center;
  align-items: center;
}
.menu-navigator a {
  padding: 13px 25px;
}
.menu-navigator a:hover {
  background-color: khaki;
  color: black;
  font-weight: bold;
  border-radius: 5px;
}

/* Main */
main {
  width: 100%;
  height: calc(100vh - 45px - 100px);
  display: flex;
  flex-direction: column;
}

.title-container {
  width: 100%;
  display: flex;
  justify-content: center;
  color: white;
  background: #0f2027; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-bottom: 1px solid grey;
  box-shadow: -2px 5px 25px 2px rgba(172, 195, 207, 0.43);
  -webkit-box-shadow: -2px 5px 25px 2px rgba(172, 195, 207, 0.43);
  -moz-box-shadow: -2px 5px 25px 2px rgba(172, 195, 207, 0.43);
}
.title-presentation {
  width: 500px;
  display: flex;
  flex-direction: column;
}
.title-presentation h1 {
  text-align: center;
  margin-top: 40px;
  line-height: 34px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: italic;
}
.title-presentation .title-presentation__author {
  margin-top: 10px;
  font-size: 4rem;
  font-family: "Qwigley", "cursive";
  font-style: italic;
  font-weight: 600;
  align-self: flex-end;
}

/* Article Section */
main .article-section {
  width: 100%;
  display: flex;
  flex-direction: row;
}
main .article-section .recent-article {
  width: 60%;
  padding: 0 15px;
}
main .article-section .recent-article h2 {
  margin-top: 30px;
  font-size: 2.5rem;
}
/* dimensiones - Tablet: 768px 
width: 400px;
*/
main .article-section .recent-article a {
  width: 300px;
  margin-top: 20px;
}
main .article-section .recent-article a img {
  width: inherit;
  height: inherit;
  margin-top: inherit;
  border-radius: 20px;
  border: 1px solid black;
}
main .article-section .recent-article a img:hover {
  box-shadow: 0px 0px 10px 5px rgba(235, 233, 233, 0.75);
}
main .article-section .recent-article .description {
  font-size: 1.5rem;
  padding: 0 5px;
  margin-top: 10px;
}

/* Articulos mini */
main .article-section .mini-articles-container {
  width: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .article-section .mini-articles-container .mini-articles-container__title {
  margin-top: 20px;
  font-size: 2rem;
  font-weight: 700;
}

main .article-section .mini-articles-container .mini-articles-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}
main
  .article-section
  .mini-articles-container
  .mini-articles-image-container
  .mini-article {
  margin-top: 10px;
  width: 150px;
  height: 85px;
  border: 1px solid black;
  border-radius: 10px;
}
.mini-article:hover {
  box-shadow: 0px 0px 10px 5px rgba(235, 233, 233, 0.75);
}

.mini-articles-image-container .art1 {
  background-image: url("../images/ia.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.mini-articles-image-container .art2 {
  background-image: url("../images/neuralink.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.mini-articles-image-container .art3 {
  background-image: url("../images/data-science.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Contact Section */

footer {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

footer .contact-title {
  margin-left: 20px;
  font-size: 1.8rem;
  font-weight: bold;
}

/* Icon section */
footer .icon-container {
  width: inherit;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 20px;
}

footer .icon-container .icon {
  width: 30px;
  height: 30px;
  border-radius: 6px;
  margin: 6px;
}
.icon-container .icon a {
  width: inherit;
  height: inherit;
  display: inline-block;
}
.icon-container .icon-twitter {
  width: inherit;
  height: inherit;
  background-image: url("../images/icon-twitter.svg");
}
.icon-container .icon-instagram {
  width: inherit;
  height: inherit;
  background-image: url("../images/icon-instagram.svg");
}
.icon-container .icon-gmail {
  width: 40px;
  height: 40px;
  margin: 6px;
  border-radius: 6px;
  background-image: url("../images/icon-gmail.svg");
}
.icon-container .icon-gmail a {
  width: inherit;
  height: inherit;
  display: inline-block;
}

.icon-container .icon:hover {
  width: 32px;
  height: 32px;
}
.icon-container .icon-twitter:hover {
  background-image: url("../images/icon-twitter-black.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.icon-container .icon-instagram:hover {
  background-image: url("../images/icon-instagram-black.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.icon-container .icon-gmail:hover {
  width: 41px;
  height: 41px;
  background-image: url("../images/icon-gmail-black.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
